.wrap {
    background-color: black;
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
}

header {
    text-align: center;
    padding-top: 20px;
    position: relative;
    color: white;
}

header a {
    color: white;
    font-weight: bold;
}

header .gnb {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "logo gnb-menu menu"
    "search search search";
}

header .gnb .logo {
    grid-area: logo;
    cursor: pointer;
    display: flex;
    align-items: center;
}

header .gnb .gnb-menu {
    grid-area: gnb-menu;
    display: flex;
    align-items: center;    
}

header .gnb .gnb-menu ul {
    width: 70%;
    display: flex;  
    justify-content: space-evenly;
    margin: 0 auto;
}

header .gnb .gnb-menu ul li {
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

header .gnb .gnb-menu ul li:hover::before {
    content: "";
    height: 2px;
    width: 3px;
    background-color: white;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
}

header .gnb .gnb-menu ul li:hover {
    color: lightgray;
}

header .gnb .gnb-menu ul .active::before {
    content: "";
    height: 2px;
    width: 15px;
    background-color: white;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
}

header .gnb .gnb-menu ul .active:hover::before {
    width: 15px;
}

header .gnb .gnb-menu ul .active:hover {
    color: white;
}

header .gnb .menu {
    grid-area: menu;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    width: 80%;
    margin-left: 20%;
}

header .gnb .menu .menu-hover {
    padding: 10px;
    border-radius: 30px;
}


header .gnb .menu .menu-hover:hover {
    background-color: rgba(172, 172, 172, 0.3);
}

header .gnb .menu .profile {
    background-color: white;
    color: gray;
    padding: 10px;
    border-radius: 30px;
    font-weight: bold;
}

header .gnb .search {
    grid-area: search;
    
}